# Configuration file

"additional configurations" {
    # Fixes enchantment that doesn't deal damage when damage is 0 (E.g having weakness while hitting with a wood sword doesn't let the enchantment deal the damage because negative damage cancels damage calculation.) [default: false]
    B:"Fix Most of the Enchantments not functioning when damage is negative? "=false
}


"ancient enchantments" {
    B:"Is Ancient Curse Inflicter Enabled"=true
    B:"Is Ancient Sword Mastery Enabled"=false
    B:"Is Rune: Piercing Arrows Enabled"=true
}


"axe restricted enchantment" {
    B:"Is Culling Enabled?"=true
    B:"Is Desolator Enabled?"=true
    B:"Is Penetrating Edge Enabled?"=true
}


"axe-restricted enchantments" {
    B:"Is Moisturized Enabled"=true
    B:"Is Plowing Enabled"=true
}


"boots-restricted enchantments" {
    B:"Is Light Weight Enabled"=true
}


"bow enchantments" {
    B:"Is Pulling Enabled"=true
    B:"Is Pushing Enabled"=true
    B:"Is Split Shot Enabled"=true
}


"chestplate-restricted enchantments" {
    B:"Is Inner Berserk Enabled"=true
    B:"Is Strengthened Vitality Enabled"=true
}


"curse enchantments" {
    B:"Is Bluntness Enabled?"=true
    B:"Is Curse of Decay Enabled"=true
    B:"Is Curse of Holding Enabled"=true
    B:"Is Curse of Inaccuracy Enabled"=true
    B:"Is Curse of Possession Enabled"=true
    B:"Is Curse of Vulnerability Enabled"=true
    B:"Is Cursed Edge Enabled?"=true
    B:"Is Heavy Weight Enabled?"=true
    B:"Is Inefficent Enabled?"=true
    B:"Is Powerless Enabled?"=true
    B:"Is Rusted Enabled?"=false
}


"damage dealing enchantments" {
    B:"Is Inhumane Enabled"=true
}


"damage multiplying enchantments" {
    B:"Is Difficulty Scaled Enabled"=true
    B:"Is Instability Enabled"=true
}


"day and night enchantments" {
    B:"Is Moonlight Enabled?"=true
    B:"Is Sunshine Enabled?"=true
}


"enchantment runes" {
    B:"Is Rune: Magical Blessing Enabled?"=false
    B:"Is Rune: Piercing Capabilities Enabled?"=true
    B:"Is Rune: Revival Enabled?"=false
}


"extra armor enchantment" {
    B:"Is Physical Protection Enabled?"=true
}


"extra bow enchantment" {
    B:"Is Strafe Enabled?"=true
}


"extra damage enchantment" {
    B:"Is Mortalitas Enabled?"=true
}


"extra enchantments" {
    B:"Is Ancient Curse Inflicter Enabled"=true
    B:"Is Dark Shadows Enabled"=true
    B:"Is Frenzy Enabled"=true
    B:"Is Luck Magnification Enabled"=true
    B:"Is True Strike Enabled"=true
    B:"Is Unsheathing Enabled"=true
    B:"Is Upgraded Potentials Enabled"=true
}


"extra utility enchantment" {
    B:"Is Smelter Enabled?"=true
}


"extra weapon enchantment" {
    B:"Is Ash Destroyer Enabled?"=true
    B:"Is Blessed Edge Enabled?"=true
    B:"Is Combat Regeneration Enabled?"=true
    B:"Is Counter Attack Enabled?"=false
    B:"Is Critical Strike Enabled?"=true
    B:"Is Disorienting Blade Enabled?"=true
    B:"Is Envenomed Enabled?"=true
    B:"Is Extreme Knockback Enabled?"=true
    B:"Is Levitator Enabled?"=true
    B:"Is Lifesteal Enabled?"=true
    B:"Is Parry Enabled?"=true
    B:"Is Purging Blade Enabled?"=true
    B:"Is Reviled Blade Enabled?"=true
    B:"Is Swifter Slashes Enabled?"=true
    B:"Is Unpredictable Enabled?"=true
    B:"Is Viper Enabled?"=true
}


"greater curse enchantments" {
    B:"Is Pandora's Curse Enabled"=false
}


"leggings-restricted enchantments" {
    B:"Is Evasion Enabled"=true
}


"main armor enchantment" {
    B:"Is Advanced Blast Protection Enabled"=true
    B:"Is Advanced Feather Falling Enabled"=true
    B:"Is Advanced Fire Protection Enabled"=true
    B:"Is Advanced Projectile Enabled"=true
    B:"Is Advanced Protection Enabled"=true
    B:"Is Advanced Thorns Enabled"=true
    B:"Is Burning Thorns Enabled"=true
    B:"Is Magic Protection Enabled?"=true
}


"main bow enchantment" {
    B:"Is Extreme Power Enabled?"=true
    B:"Is Extreme Punch Enabled?"=true
}


"main fishing rod enchantment" {
    B:"Is Advanced Luck Of The Sea Enabled?"=true
    B:"Is Advanced Lure Enabled?"=true
}


"main shield enchantment" {
    B:"Is Empowered Defence Enabled?"=true
}


"main tools enchantment" {
    B:"Is Advanced Efficency Enabled?"=true
}


"main utility enchantment" {
    B:"Is Extreme Looting Enabled?"=true
}


"main weapon enchantment" {
    B:"Is Advanced Bane of Arthropods Enabled?"=true
    B:"Is Advanced Sharpness Enabled?"=true
    B:"Is Advanced Smite Enabled?"=true
    B:"Is Butchering Enabled?"=true
    B:"Is Defusion Enabled?"=true
    B:"Is Fiery Edge Enabled?"=true
    B:"Is Purification Edge Enabled?"=true
    B:"Is Spell Breaker Enabled?"=true
    B:"Is Water Aspect Enabled?"=true
}


misc {
    B:"Disables Quarrying from working with blocks that are tile entities. I don't know what blocks are these but it may be useful for other mods..."=true
    B:"Disables the Evasion Enchantment from performing a dodge-like action to the Player. Disable if you don't like falling into cliff that is caused by Evasion Enchantment."=false
    B:"Restrict Quarrying to Ore blocks only."=true
}


"miscellaneous enchantments" {
    B:"Is Atomic Deconstructor Enabled"=true
}


"potion inflicting enchantments" {
    B:"Is Plowing Enabled"=true
}


"rune enchantments" {
    B:"Is Ancient Curse Inflicter Enabled"=false
}


"shield enchantments" {
    B:"Is Fiery Shield Enabled"=true
    B:"Is Hors de Combat Enabled"=true
    B:"Is Natural Blocking Enabled"=true
}


"subject enchantments" {
    B:"Is English Enabled"=true
    B:"Is History Enabled"=false
    B:"Is Mathematics Enabled"=false
    B:"Is Physical Education (P.E.) Enabled"=true
    B:"Is Science Enabled"=true
}


"vanilla enhanced enchantments" {
    B:"Is Advanced Fire Aspect Enabled"=true
    B:"Is Advanced Flame Enabled"=true
    B:"Is Advanced Mending Enabled"=true
    B:"Is Arc Slash Enabled"=true
    B:"Is Lesser Bane of Arthropods Enabled"=true
    B:"Is Lesser Fire Aspect Enabled"=true
    B:"Is Lesser Flame Enabled"=true
    B:"Is Lesser Looting Enabled"=true
    B:"Is Lesser Sharpness Enabled"=true
    B:"Is Lesser Smite Enabled"=true
    B:"Is Supreme Bane of Arthropods Enabled"=true
    B:"Is Supreme Fire Aspect Enabled"=true
    B:"Is Supreme Flame Enabled"=true
    B:"Is Supreme Looting Enabled"=true
    B:"Is Supreme Sharpness Enabled"=true
    B:"Is Supreme Smite Enabled"=true
}


"vanilla variant enchantments" {
    B:"Is Adept Enabled"=true
    B:"Is Flinging Enabled"=true
    B:"Is Magma Walker Enabled"=true
    B:"Is Meltdown Enabled"=true
    B:"Is Quarrying Enabled"=false
    B:"Is Sharper Edge Enabled"=true
    B:"Is Underwater Strider Enabled"=true
}


"weather enchantments" {
    B:"Is Clearsky Enabled?"=true
    B:"Is Raining Enabled?"=true
    B:"Is Thunderstorm Enabled?"=true
    B:"Is Winter Enabled?"=true
}


